<%- include('partials/header') -%>
<div class="cosmicContainer">
  <a href="/login" ><img alt="cosmicPosterMain" src="../imgs/hand.jpeg" class="cosmicPosterMain"></a>
  <h1 class="marginTop30 displayInlineBlock relativeCenter">Something went wrong :(</h1><br>
  <a href="/login" class="btn btn-primary paddingButton relativeCenter marginTop30"><i class="fa-solid fa-house"></i></a>
</div>
<%- include('partials/footer') -%>
