<%- include('partials/header') -%>

<main>
  <div class="cosmicContainer textAlignCenter">
    <a href="/login" ><img alt="cosmicPosterMain" src="../imgs/cosmic-poster-main.png" class="cosmicPosterMain"></a>
    <a href="/login" class="btn btn-primary paddingButton marginTop30">Login</a><br>
    <a href="/signup" class="btn btn-primary paddingButton marginTop15">Signup</a>
  </div>
</main>


<%- include('partials/footer') -%>
