<%- include('partials/header') -%>

<main>
  <div class="cosmicContainer">
    <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
    <div class="alert alert-danger cosmicAlert"><%= el.msg %></div>
    <% }) %> <% } %> <% if (locals.messages.info) { %> <%
    messages.info.forEach( el => { %>
    <div class="alert alert-info"><%= el.msg %></div>
    <% }) %> <% } %>
    <form class="maxWidth300 margin0Auto" action="/login" method="POST">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label color777">email</label>
        <input
          type="email"
          class="form-control cosmicInput"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="email"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label color777">password</label>
        <input
          type="password"
          class="form-control cosmicInput"
          id="exampleInputPassword1"
          name="password"
        />
      </div>
      <button type="submit" class="btn btn-primary relativeCenter">Submit</button>
    </form>
    <div class="testInfoContainer">
      <p>You can test the app with these credentials:</p>
      <p class="testInfoLabel">email: <span class="testCred">test1234@gmail.com</span></p>
      <p class="testInfoLabel">password: <span class="testCred">test1234</span></p>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>
