<%- include('partials/header') -%>
    <main>
      <div class="cosmicContainer">
        <% if (locals.messages.errors) { %>
            <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger cosmicAlert"><%= el.msg %></div>
            <% }) %>
        <% } %>
        <% if (locals.messages.info) { %>
            <% messages.info.forEach( el => { %>
                <div class="alert alert-info"><%= el.msg %></div>
            <% }) %>
        <% } %>
        <form class="maxWidth300 margin0Auto" action="/signup" method="POST">
          <div class="mb-3 backg">
              <label for="userName" class="form-label color777">username</label>
              <input type="text" class="form-control cosmicInput" id="userName" name="userName">
            </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label color777">email</label>
            <input type="email" class="form-control cosmicInput" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
            <div id="emailHelp" class="form-text color444">we won't spam or share your email :)</div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label  color777">password</label>
            <input type="password" class="form-control cosmicInput" id="password" name="password">
          </div>
          <div class="mb-3">
              <label for="confirmPassword" class="form-label  color777">confirm password</label>
              <input type="password" class="form-control cosmicInput" id="confirmPassword" name="confirmPassword">
          </div>
          <button type="submit" class="btn btn-primary relativeCenter">Submit</button>
        </form>
      </div>
    </main>
<%- include('partials/footer') -%>
