<%- include('partials/header') -%>
<section class="after">
<h1 >Thank you for your purchase!</h1>
<h2>✅ Your order was completed successfully.</h2>
<p>An email receipt including the details of your order has been sent to the email address you provided.</p>
</section>
<%- include('partials/footer') -%>