*{
    /* box-sizing: border-box; */
    /* background: rgb(210,225,252); */
    /* background: black; */
    /* color: white; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}
 nav{
    height: 80px;
    width: 100%;
    border: 1px solid black;
   margin: 0 auto; 
   padding-left: -10%;
} 
.search{
    display: inline;
}
.searchButton {
    display: inline;

    margin-left: 0%;
}
ul{
   list-style: none;
   display: inline-block;
    width: 40%;
}
li{
    display: inline-block;
    margin-right: 10%;
    
}

.productsPosition{
width: 20%;
    margin-bottom: 1%;
}

.spanSpacing {
    padding-right: 10%;
}

h1{
    display: inline-block;
    width: 35%;
    margin-left: 5%;
}
input{
    display: inline-block;
    margin-right: 10%;
}

.imageDisplay{
margin-top: 50px;
height: 201px;
border: 1px solid black;

}
/* feature uncommented for now to focus on bootstrap */
/* .feature { 
height: 300px;
border: 1px solid pink;
margin: 0 auto;
padding-left: 6%; 
} */
/* .featureDisplay{
  margin-top: 100px;
    height: 200px;
    width: 30%;
    border: 1px solid pink;
    float: left;
    margin-right: 2%;
} */

img {
    height: 200px;
    width: 220px;
    margin-right: 0;
     display: block; 
}
.button{
    /* float: left; 
     display: block; */
     background: black;
     color: white;
}
body {
    padding: 25px;
    background-color:black;
    color: white;
  }
  
  /* .dark-mode {
    background-color: black;
    color: white;
  } */
  /* prefers color media query */
/* save the style  */

@media screen and (prefers-color-scheme: dark) {
    .button {
        background-color: white;
        color: black;
    }
  }

footer{
    height: 200px;
    width: 100%;
    border: 1px solid black;
}

.cart, .checkout, .products{
    padding-left: 10%;
}

.prod{
    width: 100%;
}

.cardIcon{
    padding-left: 0;
    margin-left: -55%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.shippingSection{
    padding-bottom: 2.5%;
}

.after{
    width: 100%;
    padding-left: 22%;
    padding-top: 10%;
}

