*{
    box-sizing: border-box;
    /* background: rgb(210,225,252); */
    /* background: black; */
    /* color: white; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}
 nav{
    height: 80px;
    width: 100%;
    border: 1px solid black;
   margin: 0 auto; 
} 
ul{
   list-style: none;
   display: inline-block;
    width: 40%;
}
li{
    display: inline-block;
    margin-right: 10%;
}

h1{
    display: inline-block;
    width: 35%;
    margin-left: 5%;
}
input{
    display: inline-block;
    margin-right: 10%;
}

.imageDisplay{
margin-top: 50px;
height: 201px;
border: 1px solid black;

}
/* feature uncommented for now to focus on bootstrap */
/* .feature { 
height: 300px;
border: 1px solid pink;
margin: 0 auto;
padding-left: 6%; 
} */
/* .featureDisplay{
  margin-top: 100px;
    height: 200px;
    width: 30%;
    border: 1px solid pink;
    float: left;
    margin-right: 2%;
} */

img {
    height: 200px;
    width: 220px;
     display: block; 
}
.button{
    /* float: left; 
     display: block; */
     background: black;
     color: white;
}
body {
    padding: 25px;
    background-color: rgb(244,244,244);
    color: black;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
  /* prefers color media query */
/* save the style  */

@media screen and (prefers-color-scheme: dark) {
    .button {
        background-color: white;
        color: black;
    }
  }

footer{
    height: 200px;
    width: 100%;
    border: 1px solid black;
}

.cart, .checkout, .products{
    padding-left: 8%;
}

.cardIcon{
    padding-left: 0;
    margin-left: 1%;
    padding-bottom: 2%;
}

.shippingSection{
    padding-bottom: 2.5%;
}

.after{
    width: 100%;
    padding-left: 22%;
    padding-top: 10%;
}

